@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
    transition: all 0.1s;
}

/*Boton del navbar para modo movile*/
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

  /*Botton Home*/
  .cta {
    position: relative;
    padding: 1rem;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 4px;
    background: rgba(249, 116, 22, 0.397);
    width: 45px;
    height: 54px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
   }
   
   .cta .svg {
    margin-left: 15px;
    transform: translateX(-10px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: rgb(249 115 22);
   }
   
   .cta:hover .svg {
    transform: translateX(0);
    color: aliceblue;
   }
   
   .cta:active {
    transform: scale(0.95);
   }
   .cta:hover {
    color: white;
   }
   /* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f9741679;
    border-radius: 20px;
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  /*Sombra en letras */

  .text-shadow{
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
  }